*{
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #000000;
  color: #ffffff;
}

/* HEADER Y NAVBAR */
/*--------------------------------------*/
/*  COLOR FONDO NAVBAR  */
.color-bg {
    background-color: transparent;
  }

/* TAMAÑO IMAGEN LOGO SVG*/
.tamano-svg {
  width: 2rem;
}
/* QUIENES SOMOS PRESENTACION */
/*--------------------------------------*/
.ico-aboutus {
  background-color: #0DCAF0;
  color: #ffffff;
}

.parrafo-aboutus {
  background-color: #000000;
  color: #ffffff;
}

.tamano-card {
  width: 18rem;
  background-color: #000000;
}

/* DESTACADOS */

.tamano-card2 {
  width: 18rem;
  /* height: 30px; */
  background-color: #000000;
}

.card-cuerpo {
  background-color: #0DCAF0;
  color: #ffffff;
}

/*CONTACTO*/
/*BOTON TOOLTIPS*/
.tooltip-white {
  background-color: #ffffff; /* Fondo blanco */
  color: #ffffff; /* Texto blanco */
}

/* FOOTER */
.pie {
  background-color: #0DCAF0;
}

.pie a{
  color: #ffffff;
  text-decoration: none;
}

.pie i {
  font-size: 30px;
}

.contenedor-flex {
  display: flex;
  justify-content: space-between;
}

